<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.learning.ruslan">

    <application
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@drawable/icon3"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.ИзучаемРоднойЯзык">
        <activity
            android:name=".activities.ThemeActivity"
            android:label="@string/theme_label"
            android:theme="@style/AlertDialogCustom"/>
        <activity
            android:name=".activities.LanguageActivity"
            android:label="@string/language_label"
            android:theme="@style/AlertDialogCustom" />
        <activity android:name=".activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.LibraryActivity"
            android:label="@string/library_label" />
        <activity
            android:name=".ParonymTestActivity"
            android:label="@string/paronym_label" />
        <activity
            android:name=".activities.ParonymActivity"
            android:label="@string/library_label" />
        <activity
            android:name=".SuffixActivity"
            android:label="@string/suffix_label" />
        <activity
            android:name=".activities.AboutActivity"
            android:label="@string/about_title"
            android:theme="@style/AlertDialogCustom" />
        <activity
            android:name=".activities.SettingsActivity"
            android:label="@string/settings_title" />
        <activity
            android:name=".activities.DoubleFragmentActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/assent_label" />
    </application>

</manifest>